.login-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: rgb(52, 49, 49);
}

.login-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 20px;
  width: 420px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(52, 49, 49); 
  font-family: Helvetica;
}

.logo-container-l {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding-bottom: 20px;
  background-color: rgb(52, 49, 49);
  width: 100%; 
}

.logo-image-l {
  width: 100%;
  height: auto;
}

.logo-label-l {
  margin-right: 20px; 
  color: #9CFCD8;
  font-size: 60px;
}

.input-container-l {
  width: 100%;
  padding-top: 30px;
  font-family: inherit;
  color: #121b28;
}

.MuiSvgIcon-root {
  fill: #121b28;
}

/* .MuiInputBase-input {
    padding-left: 5px;
} */

#username .MuiInputBase-root,
#password .MuiInputBase-root {
  border-radius: 25px;
  background-color: #e8e2e2;
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 9999s ease-in-out 0s;
}

.error-msg {
  color: red;
  padding-top: 5px;
  padding-left: 10px;
  font-size: 14px;
}

.loginbutton-container-l {
  padding-top: 40px;
}

.login-button-l {
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background-color: #16181a; 
  color: #d3cccc;
  font-weight: 500;
  border: none;
  box-shadow: none;
  text-transform: none;
  font-family: inherit;
  font-size: 22px;
  cursor: pointer;
}

.login-button-l:hover {
  background-color: #131212; 
}

.register-button-l {
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background-color: #69e1bd;
  color: #121b28;
  font-weight: 500;
  border: none;
  box-shadow: none;
  text-transform: none;
  font-family: inherit;
  font-size: 22px;
  cursor: pointer;
}

.register-button-l:hover {
  background-color: #47bf93; /* Lighter color on hover for better visibility */
}

.forgot-link {
  display: flex;
  justify-content: right;
  padding-top: 5px;
}

.forgot-link p {
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  color: #9CFCD8;
  cursor: pointer;
  padding: 0px;
  margin: 0px;  
}

.loginline {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #f8f4f4; 
    line-height: 0.1em;
    margin-top: 50px;  
    margin-bottom: 50px;  
 } 
 
 .loginline span { 
     background: rgb(52, 49, 49); 
     padding:0 10px; 
     color: white
 }
