
.pagetitle{
    margin-bottom: 20px;
}
.pagetitle h1{
    font-size: 26px;
    margin-bottom: 0px;
    font-weight: 600;
    color: #012970;
    padding-right: 20px;
}
.controls {
    display: flex;
    align-items: center;
    margin-left: 0px;
    margin-bottom: 10px;
  }
  
  .date-picker-group {
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-left: 30px;
  }
  
  .date-picker-group label {
    margin-right: 20px;
    display: flex;
    align-items: center;
    font-size: 24px;
    margin-bottom: 0;
    font-weight: 400;
    color: #012970;
  }
  
  .date-picker {
    margin-left: 5px;
    border-radius: 5px;
    border-width: 1px;
    font-size: 20px;
  }
  .button-group {
    display: flex;
    align-items: center;
  }
  
  .button-group .btn {
    margin-right: 10px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .btn-daily {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .button-group .btn-daily:hover {
    background-color: #0f7e15;
    transform: scale(1.05);
    color: white;
  }
  
  .btn-weekly {
    background-color: #b808b8;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .button-group .btn-weekly:hover {
    background-color: #9b31e2;
    transform: scale(1.05);
    color: white;
  }
  
  .btn-monthly {
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .button-group .btn-monthly:hover {
    background-color: #dd3b1e;
    transform: scale(1.05);
    color: white;
  }

  .pagetitle .custom-date-picker {
    margin-top: 10px;
  }
  
  .pagetitle .date-picker {
    margin-left: 5px;
    margin-right: 15px;
  }
  .custom-dropdown .dropdown-toggle {
    padding: 5px 10px; 
      font-size: 15px;
  }
  .custom-dropdown .dropdown-menu {
    width: auto; 
  }
  


  