
.pagetitle{
    margin-bottom: 20px;
}
.pagetitle h1{
    font-size: 26px;
    margin-bottom: 0px;
    font-weight: 600;
    color: #012970;
    padding-right: 20px;
}
.controls {
    display: flex;
    align-items: center;
    margin-left: 0px;
    margin-bottom: 10px;
  }
  

  .button-group {
    display: flex;
    align-items: center;
  }
  
  .button-group .btn {
    margin-right: 10px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .btn-daily {
    background-color: rgb(71, 191, 147);
    color: white;
    border: none;
    border-radius: 8px;
    height: auto;
    width: auto;
    cursor: pointer;
    margin-left: 20px;
  }
  .button-group .btn-daily:hover {
    background-color: rgb(71, 191, 147);
    transform: scale(1.05);
    color: white;
  }
  
  .btn-weekly {
    background-color: rgb(71, 191, 147);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    height: auto;
    width: auto;
  }

  .button-group .btn-weekly:hover {
    background-color: rgb(71, 191, 147);
    transform: scale(1.05);
    color: white;
  }
  
  .btn-monthly {
    background-color: rgb(71, 191, 147);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    height: auto;
    width: auto;
  }

  .button-group .btn-monthly:hover {
    background-color: rgb(71, 191, 147);
    transform: scale(1.05);
    color: white;
  }

  .pagetitle .custom-date-picker {
    margin-top: 10px;
  }
  
  .pagetitle .date-picker {
    margin-left: 5px;
    margin-right: 15px;
  }
  .custom-dropdown .dropdown-toggle {
    padding: 5px 10px; 
      font-size: 15px;
  }
  .custom-dropdown .dropdown-menu {
    width: auto; 
  }
  


  