/* General Styling */
.card {
  margin-left: 4px;
  padding: 5px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  margin-right: auto;
  margin-bottom: auto;
 
}

.card-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}

/* Responsive Table Styling */
.table {
  width: 100%;
  margin-bottom: 20px;
  background-color: transparent;
  transition: all 0.3s ease;
  font-size: 14px;
}

.table th, 
.table td {
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  border-top: 1px solid #dee2e6;
  font-size: 12px;
}

.table th {
  background-color: #f8f9fa;
  font-weight: bold;
  font-size: 12px;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  transition: all 0.3s ease-in-out;
}

/* Media Queries */
@media (max-width: 768px) {
  .card {
    padding: 15px;
  }

  .table th, 
  .table td {
    padding: 8px;
    font-size: 0.8rem;
  }

  .card-title {
    font-size: 1.3rem;
  }
}

@media (max-width: 576px) {
  .card {
    padding: 10px;
    margin: 10px;
  }

  .table th, 
  .table td {
    padding: 6px;
    font-size: 0.8rem;
  }

  .card-title {
    font-size: 1.1rem;
  }
}

/* Hover effect for smooth transition */
.card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

tr:hover {
  background-color: #f1f1f1;
  transition: background-color 0.3s ease;
}



  
  